@model LandscapeArchitectsApplication.Models.LandscapeDesignDto
@{ViewBag.Title = "Details";
}
<a href="/Design/List">Go back to list</a>
<br />
<h2>Details</h2>

<h4>Project Number: @Model.DesignID</h4>
<h2>Lead Architect : @Model.LeadArhitect</h2>
<div>Date of creation : @Model.DateCreated</div>


