@model LandscapeArchitectsApplication.Models.ViewModels.DetailsSite
@{
    ViewBag.Title = "Details";
}

<a href="/Site/List">Go back to list</a>
<br />
<a href="/Site/Edit/@Model.SelectedSite.SiteID">Edit</a>
<br />
<a style="color:#ab2020" href="/Site/DeleteConfirm/@Model.SelectedSite.SiteID">Delete</a>

<h2>Details</h2>

<h4>@Model.SelectedSite.Address</h4>
<h2>The architect of the site is @Model.SelectedSite.LeadArhitect</h2>
<p>Client Name: @Model.SelectedSite.ClientName</p>

