@model LandscapeArchitectsApplication.Models.ViewModels.UpdatePlantMaterial

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

<form action="/PlantMaterial/Update/@Model.SelectedPlantMaterial.Plant_Id" method="POST">
    <div style="display:;">
        @* Pass through the PlantMaterial ID*@
        <input type="text" name="Plant_Id" value="@Model.SelectedPlantMaterial.Plant_Id" />
    </div>
    <div>
        <label>Plant name: </label><input type="text" name="Plant_Name" value="@Model.SelectedPlantMaterial.Plant_Name" />
    </div>
    <div>
        <label>Plant Type: </label><input type="text" name="Plant type" value="@Model.SelectedPlantMaterial.Plant_Type" />
    </div>
    
    <div>
        <input type="submit" value="Update Site" />
    </div>

</form>

